#navbarNav{
    padding-left: 35%;
}
body{
    background-image: url(b.jpg);
}
.titl{
    color:orange ;
    text-decoration-color: white;
    font-family: Merriweather;
}
p{
    color: white;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: safe end;
    font-size: 16px;
}
h1 {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.box{
    border: double;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    border-width: .35em;
}
#b{
    background-color: #2E2E2E;
}